{% extends "layoutbase.html.twig" %}
{% block content %}
  <h1 class="text-uppercase text-center text-white">Erreur 500</h1>
  <h3 class="text-center text-white">Le serveur a laché, on rafistole ça rapido !</h3>
  <p class="m-t-30 m-b-30 text-center text-white">Veuillez réessayer plus tard.</p>
  <a class="btn btn-waves-effect waves-light m-b-40 center text-white error500" href="{{ path('home_homepage')}}">Revenir à l'accueil</a></br>
  <img style="width:30%; height:60%;"src="https://data.photofunky.net/output/image/e/7/f/e/e7fe2d/photofunky.gif"></img>

{% endblock %}