{% extends "layout404.html.twig" %}
{% block content %}
  <h1 class="text-uppercase text-center text-white">Erreur 403</h1>
  <h6 class="text-center text-white" style="font-size: 27px; padding-top: 4%;">Cette page est interdite d'accès !</h6>
  <p class="m-t-30 m-b-30 text-center text-white text-align">Veuillez retourner à l'accueil.</p>
  <a href="{{ path('home_homepage')}}" class="">
    <button type="button" style="font-size: bolt; background-color: green; display: block; margin: auto;" class="btn btn-secondary text-white btn-lg error403">
    <span>Accueil</span>
    </button>
  </a>
  <img class="imagerror" style="width:30%; height:60%; display: block; margin: auto;"src="https://media1.tenor.com/images/78624d6afe99de52c50f6d09cd4335ab/tenor.gif?itemid=8087443"></img>

{% endblock %}