{% extends "layout404.html.twig" %}
{% block dashboard %}
  <h1 class="text-uppercase text-center text-white">Erreur 404</h1>
  <h6 class="text-center text-white" style="font-size: 27px; padding-top: 4%;">La page demandé n'existe pas !</h6>
  <p class="m-t-30 m-b-30 text-center text-white text-align">Veuillez retourner à l'accueil.</p>
  <a href="{{ path('home_homepage')}}" class="">
    <button type="button" style="font-size: bolt; background-color: green; display: block; margin: auto;" class="btn btn-secondary text-white btn-lg error403">
    <span>Accueil</span>
    </button>
  </a>
  <img class="imagerror" style="width:30%; height:60%; display: block; margin: auto;"src="https://media.giphy.com/media/2vlC9FMLSmqGs/giphy.gif"></img>

{% endblock %}