{% extends 'base.html.twig' %}
 {% block content %}
       <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
          <h2>Créer un évènement</h2>
          {{ include('@Evenement/Default/form.html.twig') }}
        </div><!-- /container -->

     </div> 
 {% endblock %}