{% extends 'base.html.twig' %}
 {% block content %}
       <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
          
            <h2>Liste des évènements</h2>

        </div><!-- /container -->

     </div> 
 {% endblock %}