{% extends "layoutadmin.html.twig" %}
{% block welcome %}
  <a style="color:#ffffff">Bienvenue
    {{ app.user.username }}
    <i class="fas fa-child"></i>
  </a>
{% endblock %}
{% block dashboard %}
<div class="col-md-12">
  <div class="card p-30 bg-pink">
    <div class="media">
      <div class="media-left meida media-middle">
        <span>
          <i class="fas fa-wrench f-s-40 color-secondary"></i>
        </span>
      </div>
      <div class="media-body media-text-right">

        <p class="m-b-0 text-white">Mise a jour d'un élément</p>
      </div>
    </div>
  </div>
</div>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-secondary" type="submit">Envoyer</button>
{{ form_end(form) }}
{% endblock %}
