{% extends "layoutadmin.html.twig" %}
{% block welcome %}
  <a style="color:#bf1919">Bienvenue
    {{ app.user.username }}
    <i class="fas fa-child"></i>
  </a>
{% endblock %}
{% block dashboard %}
  <span class="fa-layers fa-fw" style="background:MistyRose">
    <i class="fas fa-envelope"></i>
    <span class="fa-layers-counter" style="background:Tomato">1,419</span>
  </span>
  <h1 class="text-uppercase text-center">404</h1>
  <h3 class="text-center">La page que vous avez demandé n'existe pas.</h3>
  <p class="text-muted m-t-30 m-b-30 text-center">Veuillez réessayer plus tard.</p>
  <a class="btn btn-waves-effect waves-light m-b-40 center text-white" style="background-color:#bf1919; margin-left:45%;" href="{{ path('admin_homepage')}}">Revenir a l'accueil</a>
{% endblock %}
