{% extends "layoutadmin.html.twig" %}
{% block dashboard %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-30 bg-warning">
          <div class="media">
            <div class="media-left meida media-middle">
              <span>
                <i class="fas fa-calendar f-s-40 color-secondary"></i>
              </span>
            </div>
            <div class="media-body media-text-right">
              <h2 class="text-white">0</h2>
              <p class="m-b-0 text-white">Nombre d'inscrit(s) sur MoveToRouen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h4>Liste des sports</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td>#</td>
                <td>
                  <button class="btn btn-sm btn-dark">
                    <i class="fas fa-eye"></i>
                    Voir</button>
                  <button class="btn btn-sm btn-warning">
                    <i class="fas fa-pencil-alt"></i>
                    Editer</button>
                  <button class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i>
                    Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
