{% extends "layoutadmin.html.twig" %}
{% block dashboard %}
  <div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="card-two">
              <header>
                <div class="avatar">
                  <img src="#" alt="{{ app.user.username }}">
                </div>
              </header>

              <h3>{{ app.user.username }}</h3>
              <div class="desc">
                {% if is_granted('ROLE_ADMIN') %}Administrateur{% elseif is_granted('ROLE_USER') %}Membre{% else %}Anonyme{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-12">
        <div class="card">
          <div class="tab-pane">
            <div class="card-body">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <label class="col-md-12">Prenom</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="{{ app.user.username }}" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Email</label>
                  <div class="col-md-12">
                    <input type="email" placeholder="#" class="form-control form-control-line" name="example-email" id="example-email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Rôle</label>
                  <div class="col-md-12">
                    <div class="form-group">
                      <select class="form-control">
                        <option class="disabled">{% if is_granted('ROLE_ADMIN') %}Administrateur{% elseif is_granted('ROLE_USER') %}Membre{% else %}Anonyme{% endif %}</option>
                        <option>Membre</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="submit" value="Mettre a jour le profil" class="btn btn-flat btn-success text-center"></input>
                    <button href="{{ path('update_homepage') }}"class="btn btn-flat btn-danger text-center">Mettre a jour le mot de passe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>

  <!-- End PAge Content -->
</div>
{% endblock %}
