{% extends 'contactbase.html.twig' %}

{% block content %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'username or email'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" value="{{ 'submit'|trans }}" />
    </div>
</form>


{% endblock content %}
