{% extends 'contactbase.html.twig' %}

{% block content %}
    <div class="container content text-light text-center">
        <h1>Nous contacter</h2>
        <p class="card-text text">"Vous avez une question ou une demande à nous exposer ? Vous souhaitez devenir partenaire ou nous faire une suggestion ? Alors c’est très simple, envoyez-nous un mail grâce au formulaire ci-dessous. Nous tacherons de vous répondre le plus rapidement possible."</p>
        

        
        <div class="container content2 form text-left  ">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <button class="btn btn-success content8" type="submit">Envoyer</button>
                </li>
            </ul>    
        {{ form_end(form) }}
        </div>
    </div>

    <!-- Google Map API-->
        <div class="googlemap">
            <div class="container">
                <div class="googlemap-content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.435243159749!2d1.099652151045362!3d49.43849026753832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0de7e3153ffff%3A0x3ae23858ef5e17f0!2sNFactory%2C+Incubateur+%26+Acc%C3%A9l%C3%A9rateur+Normand!5e0!3m2!1sfr!2sfr!4v1529357454626" width="1110" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

{% endblock %}

{# AIzaSyCRD1zh0Z9IKV5cBHUJDwKiz8Fm3UvqaTM Clé API #}
{# Place ID ChIJi3bNSBXf4EcRn-yxWUmztHA  #}