{% extends 'contactbase.html.twig' %}

{% block content %}
    <div class="container content text-light text-center">
        <h2>Nous contacter</h2>
        <p class="card-text text">"Vous avez une question ou une demande à nous exposer ? Vous souhaitez devenir partenaire ou nous faire une suggestion ? Alors c’est très simple, envoyez-nous un mail grâce au formulaire ci-dessous. Nous tacherons de vous répondre le plus rapidement possible."</p>
        

        
        <div class="container form text-left  ">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}