{% extends "contactbase.html.twig" %}

{% block content %}
  <div class="container content4 " >
    <h2 class="text-center text-light content4">Votre Profil</h2>
    <div class="row text-center">
      <div class="col-sm-8 ml-auto mr-auto text-white">
        <table class="table">
          <tbody>
            <tr>
              <th>Votre pseudo</th>
              <td>{{ app.user.username }}</td>
            </tr>
            <tr>
              <th>Votre email</th>
              <td>{{ app.user.email }}</td>
            </tr>
          </tbody>
        </table>

        <div class="container content5">
          <a href="{{ path('fos_user_profile_edit') }}"><input type="button" value="Modifier mes paramètres" class="btn btn-primary btn-rounded bouton"></a>
          <a href="{{ path('fos_user_change_password') }}"><input type="button" value="Modifier mon mot de passe" class="btn btn-primary btn-rounded bouton"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
