{% extends 'base.html.twig' %}

{% block content %}
  <div class="container text-light content">
    <h1 style="margin-left:-25%;margin-bottom:5%;">Editeur</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" class="btn btn-success">Update</button>
    {{ form_end(edit_form) }}
  </div>
  <ul>
   
 
  </ul>
{% endblock %}
