{% extends 'base.html.twig' %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container text-light content">
            <h1 class="newtitle">Créer un événement</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Submit</button>
            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="container text-light content">
            <p class="textevent">Vous devez être connecter ou inscris pour ajouter un événement</p>
            <a href="{{ path('fos_user_registration_register') }}"><input type="button" value="Inscription" class="btn btn-success btn-rounded btn-sm bouton btnaddevent">
            </a>
        </div>
    {% endif %}
{% endblock %}

