{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success"/>
        </li>
    </ul>
    </div>
{{ form_end(form) }}
