{% extends "contactbase.html.twig" %}

{% block content %}
    <div class="container">
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    </div>
{% endblock content %}