{% extends "contactbase.html.twig" %}

{% block content %}
    <div class="container content6 text-light text-center">
        <h2 >Changer de password</h2>
        <div class="container content7   form text-left">
            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
        </div>
    </div>
{% endblock content %}